<h1 class="scrabble-banner">SCRABBLE YAY</h1>
<nav>
  <p><a href="/score">Score a Word</a></p>
  <p><a href="/score-many">Score Many Words</a></p>
</nav>
<!-- <img class="word-girl" src="../images/wordgirl.png" alt="vector drawing of word girl character"> -->