<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/styles.css">
    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="./images/scrabble_icon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./images/scrabble_icon.png" sizes="32x32">
    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="./images/scrabble_icon.png" >
    <link rel="shortcut icon" type="image/x-icon" href="./images/scrabble_icon.png"/>
  </head>
  <body>
    <header>
    </header>
    <nav>
    </nav>
    <main>
    <%= yield %>
    </main>
  </body>
</html>