<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <!-- for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="./images/scrabble_icon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./images/scrabble_icon.png" sizes="32x32">
    <!-- for IE -->
    <link rel="icon" type="image/x-icon" href="./images/scrabble_icon.png" >
    <link rel="shortcut icon" type="image/x-icon" href="./images/scrabble_icon.png"/>
  </head>
  <body>
    <main>
    <%= yield %>
    <img class="word-girl" src="../images/wordgirl.png" alt="vector drawing of word girl">
    </main>
  </body>
</html>